DEBUG = True

# PostgreSQL connection
DBNAME = 'mihome'
DBUSER = 'mihome'
DBPASS = 'password'

# Redis connection
REDIS_HOST = 'localhost'
REDIS_PORT = 6379
REDIS_DB = 0

# MiHome App -> Gateway -> Settings -> About -> [Second last menu item]
MIHOME_GATEWAY_PASSWORD = ''

# Sensors - SID : Human-readable name
SENSORS = {
    '158d000116a58e': 'Office',
    '158d0001264ac3': 'Bedroom 1',
    '158d0001264ac3': 'Bedroom 2',
    '158d00010850da': 'Outside'
}

ENABLED_APPS = ['random_led_color_every_10_seconds',]

# Web application port
WEB_APP_PORT = 8888
