<!DOCTYPE html>
<html>
    <head>
       <title>Home</title>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="/static/css/bootstrap.css" rel="stylesheet">
       <link href="/static/css/main.css" rel="stylesheet">
       <link href="/static/css/spectrum.css" rel="stylesheet">
    </head>
    <body>
        <div class='gateway-block' title='Gateway LED Color'>
            <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>
            <input type='text' id='color' />
        </div>
        <div class='container'>
            <div class='row ht'>
                {% for sensor in sensors_current %}
                <div class='col-md-6'>
                    <div class="panel panel-primary" data-sid="{{ sensor['sid'] }}">
                        <div class='panel-heading'>{{ sensor['name'] }}</div>
                        <div class='panel-body'>
                            <span class='temperature'><span class='main'>{{ sensor['temperature'][0] }}</span>.<span class='decimal'>{{ sensor['temperature'][1] }}</span><span class='unit'>°C</span></span>
                            <span class='delimiter'>/</span>
                            <span class='humidity'><span class='main'>{{ sensor['humidity'][0] }}</span>.<span class='decimal'>{{ sensor['humidity'][1] }}</span><span class='unit'>%</span></span>
                        </div>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
        <script src='/static/js/jquery-3.1.1.min.js' type='text/javascript'></script>
        <script src="/static/js/jquery.backstretch.min.js" type='text/javascript'></script>
        <script src='/static/js/jquery.noty.min.js' type='text/javascript'></script>
        <script src='/static/js/spectrum.js' type='text/javascript'></script>
        <script src='/static/js/chart.min.js' type='text/javascript'></script>
        <script src='/static/js/main.js' type='text/javascript'></script>

        <script type='text/javascript'>
            var bg_images = {% raw json_encode(bg_images) %};
            var sensors = {% raw json_encode(sensors) %};
            var sensors_data = {% raw json_encode(sensors_data) %};
            var sensors_current = {% raw json_encode(sensors_current) %};
            var gateway_led = {% raw json_encode(gateway_led) %};
            var notifications = {% raw json_encode(notifications) %};
        </script>
    </body>
 </html>
