<!DOCTYPE html>
<html>
    <head>
       <title>Home</title>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="/static/css/bootstrap.css" rel="stylesheet">
       <link href="/static/css/main.css" rel="stylesheet">
       <link href="/static/css/spectrum.css" rel="stylesheet">
       <link href="/static/css/bootstrap-toggle.css" rel="stylesheet">
       <link href="/static/css/bootstrap-slider.min.css" rel="stylesheet">
       <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class='gateway-block' title='Gateway LED Color'>
            <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>
            <input type='text' id='color' />
        </div>
        <div class='container'>
            <div class='row ht'>
                {% for sensor in sensors_current %}
                <div class='col-md-6'>
                    <div class="panel panel-primary" data-sid="{{ sensor['sid'] }}">
                        <div class='panel-heading'>{{ sensor['name'] }}</div>
                        <div class='panel-body'>
                            <span class='temperature'><span class='main'>{{ sensor['temperature'][0] }}</span>.<span class='decimal'>{{ sensor['temperature'][1] }}</span><span class='unit'>°C</span></span>
                            <span class='delimiter'>/</span>
                            <span class='humidity'><span class='main'>{{ sensor['humidity'][0] }}</span>.<span class='decimal'>{{ sensor['humidity'][1] }}</span><span class='unit'>%</span></span>
                        </div>
                    </div>
                </div>
                {% end %}
            </div>
            {% if bulbs %}
            <div class='row yee'>
                <div class='col-md-12'>
                    <div class='wrapper'>
                        {% for bulb in bulbs * 4 %}
                        <div id='{{ bulb["id"] }}' class='bulb' data-bright='{{ bulb["bright"] }}'>
                            <span>
                                <i class='fa fa-lightbulb-o {{ bulb["power"] }}'></i> <span class='bulb-name'>{{ bulb['name'] or bulb['id'] }}</span>
                            </span>
                            <ul class='dropdown-menu' data-id='{{ bulb["id"] }}'>
                                <img src='/static/img/arrow-up.png' class='arrow-up' />
                                <li>
                                    <input type="checkbox" {{ 'checked' if bulb['power'] == 'on' else '' }} data-toggle="toggle" data-action="set_power" name="switch" />
                                    <input type='text' name='bright' />
                                </li>
                                <li><input name="name" class='form-control' data-action="set_name" type="text" value="{{ bulb['name'] }}" placeholder="Device name" /></li>
                            </ul>
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
            {% end %}
        </div>
        <script src='/static/js/vendor/jquery-3.1.1.min.js' type='text/javascript'></script>
        <script src="/static/js/vendor/jquery.backstretch.min.js" type='text/javascript'></script>
        <script src='/static/js/vendor/jquery.noty.min.js' type='text/javascript'></script>
        <script src='/static/js/vendor/bootstrap.js' type='text/javascript'></script>
        <script src='/static/js/vendor/bootstrap-toggle.min.js' type='text/javascript'></script>
        <script src='/static/js/vendor/bootstrap-slider.js' type='text/javascript'></script>
        <script src='/static/js/vendor/spectrum.js' type='text/javascript'></script>
        <script src='/static/js/vendor/chart.min.js' type='text/javascript'></script>
        <script src='/static/js/main.js' type='text/javascript'></script>

        <script type='text/javascript'>
            var bg_images = {% raw json_encode(bg_images) %};
            var sensors = {% raw json_encode(sensors) %};
            var sensors_data = {% raw json_encode(sensors_data) %};
            var sensors_current = {% raw json_encode(sensors_current) %};
            var gateway_led = {% raw json_encode(gateway_led) %};
            var notifications = {% raw json_encode(notifications) %};
        </script>
    </body>
 </html>
