html, body {
    height: 100%;
}

body {
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin-bottom: 110px;
}

.panel {
    opacity: 0.77;
}

.panel-heading {
    font-size: 35px;
}

.ht .panel-body {
    text-align: center;
}

.panel-body > span {
    font-size: 50px;
}

.delimiter {
    font-size: 30px!important;
    margin: 0 10px;
}

.temperature {
    color: #bf3d3d;
}

.decimal {
    font-size: 22px;
}

.unit {
    font-size: 25px;
    margin-left: 5px;
}

.humidity {
    color: #525fdb;
}

.panel {
    position: relative;
}

.panel canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
}

.gateway-block {
    margin-top: 10px;
    margin-left: 10px;
}

.gateway-block span {
    color: #fff;
    font-size: 23px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    opacity: .65;
    cursor: pointer;
    transition: color linear 200ms;
}

.gateway-block span.off {
    color: #999;
}

.gateway-block .sp-replacer {
    margin-top: -13px;
    border-color: #ccc;
    opacity: .72;
}

.noty_message {
    text-align: left!important;
    font-size: 15px;
    padding: 8px 13px!important;
}

#noty_topRight_layout_container li {
    margin-bottom: 15px;
    opacity: .75;
    transition: opacity 150ms linear;
}
#noty_topRight_layout_container li:hover {
    opacity: 1;
}

.noty_message h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 5px;
    opacity: .7;
}

.yee .wrapper, .magnet-block {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 5px 10px;
}

.yee .bulb {
    font-size: 25px;
    display: inline-block;
    margin-right: 20px;
    transition: opacity 150ms linear;
    position: relative;
}
/*.yee .bulb:hover {
    opacity: .75;
}*/

.yee .bulb > span {
    cursor: pointer;
}

.yee .bulb .fa {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .6);
    transition: color 200ms linear;
}

.yee .bulb .fa.on {
    color: #fff;
}

.yee .bulb:last-child {
    margin-right: 0;
}

.yee .dropdown-menu {
    left: -8px;
    margin-top: 8px;
}

.yee .dropdown-menu li {
    padding: 5px 10px;
    min-width: 253px;
}

.dropdown-menu.open {
    display: block!important;
}

.dropdown-menu .arrow-up {
    position: absolute;
    left: 6px;
    top: -11px;
}

.yee .slider {
    margin: 0 15px;
}

.yee .slider.slider-horizontal {
    width: 140px;
}

.yee .slider-track {
    background-image: linear-gradient(to bottom, #e3e3e3 0, #e6e6e6 100%);
}

.yee .slider-selection {
    background-image: linear-gradient(to bottom, #c9c9c9 0, #c5c5c5 100%);
}

.magnet-block {
    margin: 10px;
    display: inline-block;
}

.magnet-block .magnet-name, .magnet-block .magnet-status {
    font-size: 16px;
    display: inline;
}

.magnet-block .magnet-status {
    margin-left: 10px;
}
